.wcf-debug-page #wcf-menu-page {
	padding-top: 0;
}

.wcf-debug-page .wcf-menu-page-content {
	padding: 0;
}

/*.wcf-debug-page .wcf-top-links {
	margin: 0;
}*/

.wcf-debug-page .wcf-debug-page-content {
	padding: 20px;
}

.wcf-log__section {
	background: #fff;
	box-shadow: none;
	margin-bottom: 20px;
	border: 0;
	padding: 30px 20px;
	border-radius: 2px;
}

.wcf-license-log__section .log-viewer {
	padding: 0 12px;
}
